<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="general">
        <div class="panel">
            <article class="panel-header">
                <h1>Lista de Clientes</h1>
                <a href="/clients/create" class="btn">+ Novo Cliente</a>
            </article>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                </tr>
                {% for client in clients %}
                <tr>
                    <td>{{ client[0] }}</td>
                    <td>{{ client[1] }}</td>
                    <td>{{ client[2] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="panel">
            <article class="panel-header">
                <h1>Lista de Produtos</h1>
                <a href="/products/create.html" class="btn">+ Novo Produto</a>
            </article>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Preço</th>
                </tr>
                {% for product in products %}
                <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="panel">
            <article class="panel-header">
                <h1>Lista de Vendas</h1>
                <a href="/sale/create.html" class="btn">+ Nova Vendas</a>
            </article>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Cliente</th>
                </tr>
                {% for sale in sales %}
                <tr>
                    <td>{{ sale[0] }}</td>
                    <td>{{ sale[1] }}</td>
                    <td>{{ sale[2] }}</td>
                    <td>{{ sale[3] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>